body {
	background-color: var(--main-bg-color);
	color: var(--text-color);
	color-scheme: var(--color-scheme);

	button:hover,
	select:hover,
	select:focus {
		background-color: var(--btn-hover-bg-color);
		color: var(--btn-hover-text-color);
	}

	.about,
	footer,
	optgroup,
	option {
		/* https://developer.mozilla.org/en-US/docs/Glossary/Chrome */
		background-color: var(--chrome-bg-color);
		color: var(--text-color);
	}
}

/* DARK THEMES */
.theme-dark,
.theme-monokai,
.theme-solarizeddark {
	--color-scheme: dark;
}

/* Default Dark */
.theme-dark {
	--main-bg-color: #222;
	--text-color: #eee;
	--btn-hover-bg-color: #fff;
	--btn-hover-text-color: #000;
	--chrome-bg-color: #333;
}

/* Monokai */
.theme-monokai {
	--main-bg-color: #272822;
	--text-color: #d6d6d6;
	--btn-hover-bg-color: #fff;
	--btn-hover-text-color: #000;
	--chrome-bg-color: #404339;
}

/* Solarized Dark */
.theme-solarizeddark {
	--main-bg-color: #002b36;
	--text-color: #ccc;
	--btn-hover-bg-color: #fff;
	--btn-hover-text-color: #000;
	--chrome-bg-color: #00212b;
}

/* LIGHT THEMES */
.theme-light,
.theme-solarizedlight {
	--color-scheme: light;
}

/* Default Light */
.theme-light {
	--main-bg-color: #eee;
	--text-color: #222;
	--btn-hover-bg-color: #fff;
	--btn-hover-text-color: #000;
	--chrome-bg-color: #dedede;
}

/* Solarized Light */
.theme-solarizedlight {
	--main-bg-color: #fdf6e3;
	--text-color: #333;
	--btn-hover-bg-color: #fff;
	--btn-hover-text-color: #000;
	--chrome-bg-color: #eee8d5;
}
