@tailwind base;
@tailwind components;
@tailwind utilities;

.about,
.settings {
	transition-property: max-height;
}

.show-about,
.show-settings {
	height: 50vh;
}

.about.show-about, .settings.show-settings {
	visibility: visible;
	max-height: 50vh;
}
