@tailwind base;
@tailwind components;
@tailwind utilities;

.about {
	transition-property: max-height;
}
.settings {
	transition-property: top;
}

.show-about {
	height: 50vh !important;
}
.show-settings {
	height: calc(100vh - 11rem) !important;
}

.about.show-about {
	visibility: visible;
	max-height: 50vh !important;
}
.settings.show-settings {
	visibility: visible;
	top: -5px;
}
